* {
    margin: 0px;
    padding: 0px;
  }
  .main {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    font-family: "Nunito Sans", sans-serif;
  }
  .nav {
    display: flex;
    justify-content: right;
    background-color: #e5ebef;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  a {
    text-decoration: none;
  }
  .a1 {
    color: #091f31;
    font-size: 16.2px;
    line-height: 16.2px;
  }
  a:hover {
    color: #46b1e8;
  }
  .icon {
    height: 21px;
    width: 25px; 
    margin-left: 15px;
  }
  .icon1{
    height: 25px;
    width: 15px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .icon2{
    height: 18px;
    width: 25px;
    margin-left: 15px;
  }
  .icon4{
    height: 18px;
    width: 25px;
    margin-left: 15px;
  }
  .aleda {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px -10px 10px -16px rgba(0, 0, 0, 0.678); /* Add shadow */
  }
  .about {
    margin-top: 41px;
    margin-left: 36px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-right: 18px;
  }
  .hello {
    padding: 7px;
    color: black;
    font-size: 17.1px;
    font-weight: 380;
  }
  .hello:hover{
    border-bottom: 5px solid red;
    transition: 100ms ease;
  }
  .button1 {
    margin-top: 35px;
    margin-left: 41px;
    margin-bottom: 20px;
    height: 64px;
    width: 192px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #3faca6;
    border: none;
    background-image: url(tel.png);
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-x: 90%;
    background-position-y:center;
    border-radius: 6%;
  }
  .button1:hover{
    background-color: #46b1e8;
  }
  .back {
    width: 100%;
    height: 469px;
    display: flex;
    flex-direction: column;
    background-image: url(bg.jpg);
    background-size: cover;
  }
  .heading{
    padding-top: 104px;
  }
  h1 {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 54px;
    line-height: 75.6px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    padding-left: 80px;
  }
  .text{
    height: 145px;
    width: 800px;
    color: white;
    margin-left: 81px;
    font-size: 18px;
    line-height: 30.6px;
    margin-top: 23px;
  }
  .button2{
    height: 65px;
    width: 380px;
    background-color:#46b1e8;
    display: flex;
    justify-content: left;
    /* margin-top: -10px; */
    margin-left: 80px;
    margin-bottom: 65px;
    border-radius: 3%;
    background-image: url(tel.png);
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-x: 96%;
    background-position-y:center;
    padding-left: 27px;
  }
  .button2:hover{
    background-color: #3faca6;
  }
  .newb{
    padding-right: 18px;
    border: none;
    padding-top: 18px;
    color: white;
    font-size: 20.7px;
    font-weight: 800;
  }
  .part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Offer{
    font-size: 54px;
    /* line-height: 75.6px; */
    text-align: left;
    margin-top: 58px;
    color: #20254f;
    margin-bottom: 23px;
    font-family: "Fjalla One", sans-serif;
  }
  .content{
    text-align: center;
    padding: 15px;
    padding-left:25px;
    font-size: 18px;
    line-height: 30.6px;
    color: #091f31;
  }
  .divs{
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: space-between;
    margin-top: 36px;
  }
  .div1{
    margin-right: 45px;
    display: flex;
    width: 364px;
    flex-direction: column;
    border: 1px solid gray;
    margin-left: 81px;
  }
  .div2{
    margin-right: 45px;
    display: flex;
    width: 364px;
    flex-direction: column;
    border: 1px solid gray;
  }
  .div3{
    margin-right: 45px;
    display: flex;
    width: 364px;
    flex-direction: column;
    border: 1px solid gray;
  }
  .div4{
    margin-top: 55px;
    margin-right: 45px;
    display: flex;
    width: 364px;
    flex-direction: column;
    border: 1px solid gray;
    margin-left: 81px;
  }
  .div5{
    margin-top: 55px;
    margin-right: 45px;
    width: 364px;
    flex-direction: column;
    border: 1px solid gray;
  }
  .div6{
    margin-top: 55px;
    margin-right: 45px;
    display: flex;
    width: 364px;
    flex-direction: column;
    border: 1px solid gray;
  }
  .flexi{
    color: #46b1e8;
    font-size: 22px;
    font-weight: 800;
    padding:28px ;
  }
  .flexi-ci{
    font-size: 18px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: start;
    line-height: 30.6px;
  }
  .li{
    padding-left:40px;
    padding-right: 15px;
    margin-bottom: 128px;
  }
  .new1{
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    line-height: 30.6px;
  }
  .part3{
    display: flex;
    flex-direction: column;
    padding-top: 89px;
    padding-left: 81px;
    background-color:#e5ebef;
    flex: 1;
  }
  .i{
     flex: 1; 
     margin: 0 auto;
  }
  .p3{
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#e5ebef;
  }
  .part4{
    display: flex;
    flex-direction: row;
  }
  .quote{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p5{
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#e5ebef;
  }
  .part5{
    display: flex;
    flex-direction: column;
    padding-top: 89px;
    padding-left: 81px;
    background-color:#e5ebef;
    flex: 1;
  }
  .i1{
    flex: 1;
    margin: 0 auto;
  }
  .part6{
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    background-color:#e5ebef;
  }
  .button3{
    height: 64px;
    width: 353px;
    background-color:#005c90;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 81px;
    margin-bottom: 53px;
    border-radius: 3%;
    background-image: url(arr2.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 97%;
    background-position-y:center;
    padding-left: 3px;
  }
  .button3:hover{
    background-color: #3faca6;
  }
  .newb1{
    padding-right: 25px;
    font-size: 19;
    border: none;
    padding-top: 20px;
    color: white;
    font-size: 21px;
    font-weight: 700;
  }
  .heading1{
    color: white;
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
    margin-top: 80px;
    margin-left: 108px;
  }
  .heading2{
    color: white;
    width: 504px;
    height: 100px;
    font-family: "Fjalla One", sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 28px;
    line-height: 50.6px;
    margin-left: 108px;
  }
  .back1{
        display: flex;
        flex-direction: column;
  }
  .last{
    background-color: #005f96;
    display: flex;
  }
  .text3{
        height: 102px;
        width: 504px;
        color: white;
        line-height: 22.23px;
        font-size: 17.1px;
        margin-left: 148px;
        margin-top: 17px;
  }
  .button4 {
    margin-top: auto;
    margin-top: -15px;
    margin-left: 148px;
    margin-bottom: 82px;
    height: 65px;
    width: 193px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    background-color: #3faca6;
    border: none;
    background-image: url(tel.png);
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-x: 95%;
    background-position-y:center;
    border-radius: 6%;
  }
  .button4:hover{
    background-color: #46b1e8;
  }
 .bottom{
    display: flex;
    flex-direction: row;
 }
 .one{
    display: flex;
    flex-direction: column;
 }
 .hee{
    font-size: 19px;
    color: #46b1e8;
    font-weight: 900;
    margin-bottom: 13px;
 }
 .two{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
 }
 .listtt li{
    list-style: none ;
    font-size: 18px;
    padding-top: 8px;
    padding-right: 37px;
 }
 .button5 {
    margin-top: 72PX;
    height: 65px;
    width: 193px;
    color: white;
    font-size: 21px;
    font-weight: 400;
    background-color: #46b1e8;
    border: none;
    background-image: url(arr2.png);
    background-repeat: no-repeat;
    background-size: 28px;
    background-position-x: 90%;
    background-position-y:center;
    border-radius: 6%;
 }
 .button5:hover{
    background-color: #3faca6;
  }
  .span1{
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color:#46b1e8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
  }


  .fa-brands{
    color: white;
    
  }